openapi: 3.0.0
info:
  description: "The checkout API is used to create a checkout with Klarna and update\
    \ the checkout order during the purchase. As soon as the purchase is completed\
    \ the order should be read and handled using the [`Order Management API`](https://docs.klarna.com/api/ordermanagement).\\\
    n\\nRead more on [Klarna checkout](https://docs.klarna.com/klarna-checkout/)."
  title: Klarna Checkout API V3
  version: 1.0.0
  x-document-metadata:
    copyright: © 2005 - 2024 Klarna Bank AB (publ). All rights reserved.
    trace-id: 2b18ee7-3849839-docs-portal-api-1706173980684
    date-created: 2024-01-25T09:13:45+0000
  x-konfig-ignore:
    potential-incorrect-type: true
externalDocs:
  description: Find out more about the Klarna REST APIs
  url: https://docs.klarna.com/api
servers:
- url: https://api.klarna.com
tags:
- name: Order
paths:
  /checkout/v3/orders:
    post:
      description: "To create a new order simply provide a JSON object with the applicable\
        \ properties.<br>The location of the newly created checkout order can be found\
        \ in the location header of the response.<br>Please note: This is the url\
        \ that should be used for future interactions (read and update) with the order,\
        \ i.e. do not construct the order url based on the order id."
      operationId: Order_createNewOrder
      parameters:
      - explode: false
        in: header
        name: Klarna-Partner
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/order'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: successful operation
        "400":
          description: We were unable to create an order with the provided data. Some
            field constraint was violated.
        "401":
          description: You were not authorized to execute this operation.
      summary: Create an order
      tags:
      - Order
      x-400:
        error_text: "array|Bad value: order_amount|Bad value: order_tax_amount|Bad\
          \ value: locale"
        correlation_id: 1b4c6bfa-f182-43dd-bde0-6bec32as6cf0
        error_code: BAD_VALUE
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checkout-v3-orders
      x-content-type: application/json
      x-accepts: application/json
  /checkout/v3/orders/{order_id}:
    get:
      description: Get the full details of a Klarna checkout order.
      operationId: Order_getOrderDetails
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: successful operation
        "401":
          description: You were not authorized to execute this operation.
        "403":
          description: Merchant was not activated.
        "404":
          description: We did not find any order with given ID. You need to create
            a new order.
      summary: Get order details
      tags:
      - Order
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--checkout-v3-orders-order_id
      x-accepts: application/json
    post:
      description: "To update an order simply provide a JSON object with the properties\
        \ you want to update. Properties not provided in the request will stay the\
        \ same.<br>Please note: an order can only be updated when the status is checkout_incomplete"
      operationId: Order_updateOrder
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/order'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: successful operation
        "400":
          description: We were unable to update an order with the provided data. Some
            field constraint was violated.
        "401":
          description: You were not authorized to execute this operation.
        "403":
          description: You tried to modify a read only resource.
        "404":
          description: We did not find any order with given ID. You need to create
            a new order.
      summary: Update an order
      tags:
      - Order
      x-403:
        error_text: array|Resource is read-only
        correlation_id: 1b4c6bfa-f182-43dd-bde0-6bec32as6cf0
        error_code: READ_ONLY_ORDER
      x-400:
        error_text: "array|Bad value: order_amount|Bad value: order_tax_amount|Bad\
          \ value: locale"
        correlation_id: 1b4c6bfa-f182-43dd-bde0-6bec32as6cf0
        error_code: BAD_VALUE
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /checkout/v3/orders/{order_id}/abort:
    post:
      description: Mark an order as aborted.
      operationId: Order_abortOrder
      parameters:
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/order'
          description: successful operation
        "403":
          description: You tried to modify a read only resource.
        "404":
          description: We did not find any order with given ID. You need to create
            a new order.
      summary: Abort an order
      tags:
      - Order
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checkout-v3-orders-order_id-abort
      x-accepts: '*/*'
components:
  requestBodies:
    order:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/order'
  schemas:
    DeliveryDetailsV1:
      example:
        carrier: carrier
        product:
          identifier: identifier
          name: name
        pickup_location:
          address:
            street_address: Lombard St 10
            country: US
            care_of: C/O
            city: Beverly Hills
            title: Mr
            given_name: John
            street_name: Lombard St
            house_extension: B
            phone: "333444555"
            street_address2: Apt 214
            street_number: "10"
            postal_code: "90210"
            region: CA
            family_name: Doe
            email: john@doe.com
          name: name
          id: id
        timeslot:
          start: start
          end: end
          id: id
      properties:
        carrier:
          description: Carrier product name
          type: string
        product:
          $ref: '#/components/schemas/ProductV1'
        timeslot:
          $ref: '#/components/schemas/TimeslotV1'
        pickup_location:
          $ref: '#/components/schemas/PickupLocationV1'
      type: object
    PickupLocationV1:
      example:
        address:
          street_address: Lombard St 10
          country: US
          care_of: C/O
          city: Beverly Hills
          title: Mr
          given_name: John
          street_name: Lombard St
          house_extension: B
          phone: "333444555"
          street_address2: Apt 214
          street_number: "10"
          postal_code: "90210"
          region: CA
          family_name: Doe
          email: john@doe.com
        name: name
        id: id
      properties:
        id:
          description: Id
          type: string
        name:
          description: Name of the location
          type: string
        address:
          $ref: '#/components/schemas/address'
      type: object
    ProductV1:
      example:
        identifier: identifier
        name: name
      properties:
        name:
          description: Carrier product name
          type: string
        identifier:
          description: Carrier product identifier
          type: string
      type: object
    TimeslotV1:
      example:
        start: start
        end: end
        id: id
      properties:
        id:
          description: Id
          type: string
        start:
          description: Start time
          type: string
        end:
          description: End time
          type: string
      type: object
    address:
      example:
        street_address: Lombard St 10
        country: US
        care_of: C/O
        city: Beverly Hills
        title: Mr
        given_name: John
        street_name: Lombard St
        house_extension: B
        phone: "333444555"
        street_address2: Apt 214
        street_number: "10"
        postal_code: "90210"
        region: CA
        family_name: Doe
        email: john@doe.com
      properties:
        title:
          description: Title.<p>Valid values for UK:</p><ul><li><em>Mr</em></li><li><em>Ms</em></li><li><em>Mrs</em></li><li><em>Miss</em></li></ul><p>Valid
            values for DACH:</p><ul><li><em>Herr</em></li><li><em>Frau</em></li></ul><p>Valid
            values for NL:</p><ul><li><em>Dhr.</em></li><li><em>Mevr.</em></li></ul>
          example: Mr
          type: string
          x-konfig-original-example: Mr
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-title
        given_name:
          description: Given name.
          example: John
          type: string
          x-konfig-original-example: John
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-given_name
        family_name:
          description: Family name.
          example: Doe
          type: string
          x-konfig-original-example: Doe
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-family_name
        email:
          description: E-mail address.
          example: john@doe.com
          type: string
          x-konfig-original-example: john@doe.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-email
        street_address:
          description: "Street address, first line. (Street name and number)"
          example: Lombard St 10
          type: string
          x-konfig-original-example: Lombard St 10
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_address
        street_address2:
          description: "Street address, second line. (Apartment number, suite, etc.)"
          example: Apt 214
          type: string
          x-konfig-original-example: Apt 214
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_address2
        street_name:
          description: Street name. Only applicable in DE/AT/NL. Do not combine with
            street_address. See <b>streetNumber</b>.
          example: Lombard St
          type: string
          x-konfig-original-example: Lombard St
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_name
        street_number:
          description: Street number. Only applicable in DE/AT/NL. Do not combine
            with street_address. See <b>streetName</b>.
          example: "10"
          type: string
          x-konfig-original-example: "10"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_number
        house_extension:
          description: House extension. Only applicable in NL
          example: B
          type: string
          x-konfig-original-example: B
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-house_extension
        postal_code:
          description: Postal/post code.
          example: "90210"
          type: string
          x-konfig-original-example: "90210"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-postal_code
        city:
          description: City.
          example: Beverly Hills
          type: string
          x-konfig-original-example: Beverly Hills
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-city
        region:
          description: State or Region.
          example: CA
          type: string
          x-konfig-original-example: CA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-region
        phone:
          description: Phone number.
          example: "333444555"
          type: string
          x-konfig-original-example: "333444555"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-phone
        country:
          description: ISO 3166 alpha-2. Country.
          example: US
          type: string
          x-konfig-original-example: US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-country
        care_of:
          description: Care of.
          example: C/O
          type: string
          x-konfig-original-example: C/O
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-care_of
      type: object
    attachment:
      example:
        content_type: application/vnd.klarna.internal.emd-v2+json
        body: "{\"hotel_reservation_details\": [{\"pnr\": \"VH67899\",\"hotel_intinerary\"\
          : [{\"hotel_name\": \"Hotel ltd.\",\"address\": {\"street_address\": \"\
          Storgatan 3\",\"postal_code\": \"113 35\",\"city\": \"Stockholm\",\"country\"\
          : \"Sweden\"},\"start_time\": \"2019-01-31T15:00:00Z\",\"end_time\": \"\
          2019-01-31T15:30:00Z\",\"number_of_rooms\": 2,\"ticket_delivery_method\"\
          : \"email\",\"ticket_delivery_recipient\": \"jonas.larlsson@klarna.com\"\
          ,\"hotel_price\": 23050,\"class\": \"Business\",\"passenger_id\": [1]}],\"\
          passengers\": [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"\
          last_name\": \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"Insurance\
          \ Company X\",\"insurance_type\": \"travel\",\"insurance_price\": 0}],\"\
          affiliate_name\": \"TradeMaxi AB\"}],\"air_reservation_details\": [{\"pnr\"\
          : \"VH67899\",\"intinerary\": [{\"departure\": \"ARN\",\"departure_city\"\
          : \"Stockholm\",\"arrival\": \"NCE\",\"arrival_city\": \"Nice\",\"carrier\"\
          : \"SK\",\"segment_price\": 34000,\"departure_date\": \"2019-01-30T15:00:00Z\"\
          ,\"ticket_delivery_method\": \"email\",\"ticket_delivery_recipient\": \"\
          jonas.larlsson@klarna.com\",\"passenger_id\": [1]}],\"passengers\": [{\"\
          id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"last_name\": \"Adamson\"\
          }],\"insurance\": [{\"insurance_company\": \"Insurance Company X\",\"insurance_type\"\
          : \"travel\",\"insurance_price\": 0}],\"affiliate_name\": \"TradeMaxi AB\"\
          }],\"customer_account_info\": [{\"unique_account_identifier\": \"12345\"\
          ,\"account_registration_date\": \"2016-01-24T15:00:00Z\",\"account_last_modified\"\
          : \"2017-01-24T15:00:00Z\"}],\"payment_history_full\": [{\"payment_option\"\
          : \"card\",\"number_paid_purchases\": 2,\"total_amount_paid_purchases\"\
          : 1234,\"date_of_last_paid_purchase\": \"2018-01-24T15:00:00Z\",\"date_of_first_paid_purchase\"\
          : \"2018-01-24T15:00:00Z\"}]}"
      properties:
        body:
          description: "The content of the extra merchant data which should be presented\
            \ as a string inside this property. The body should be an object containing\
            \ any of the keys and sub objects described below serialised to JSON.\
            \ More information on that object can be found [here](https://docs.klarna.com/klarna-checkout/api/checkout-api/#tag/Attachment-Schema)."
          example: "{\"hotel_reservation_details\": [{\"pnr\": \"VH67899\",\"hotel_intinerary\"\
            : [{\"hotel_name\": \"Hotel ltd.\",\"address\": {\"street_address\": \"\
            Storgatan 3\",\"postal_code\": \"113 35\",\"city\": \"Stockholm\",\"country\"\
            : \"Sweden\"},\"start_time\": \"2019-01-31T15:00:00Z\",\"end_time\": \"\
            2019-01-31T15:30:00Z\",\"number_of_rooms\": 2,\"ticket_delivery_method\"\
            : \"email\",\"ticket_delivery_recipient\": \"jonas.larlsson@klarna.com\"\
            ,\"hotel_price\": 23050,\"class\": \"Business\",\"passenger_id\": [1]}],\"\
            passengers\": [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"\
            last_name\": \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"\
            Insurance Company X\",\"insurance_type\": \"travel\",\"insurance_price\"\
            : 0}],\"affiliate_name\": \"TradeMaxi AB\"}],\"air_reservation_details\"\
            : [{\"pnr\": \"VH67899\",\"intinerary\": [{\"departure\": \"ARN\",\"departure_city\"\
            : \"Stockholm\",\"arrival\": \"NCE\",\"arrival_city\": \"Nice\",\"carrier\"\
            : \"SK\",\"segment_price\": 34000,\"departure_date\": \"2019-01-30T15:00:00Z\"\
            ,\"ticket_delivery_method\": \"email\",\"ticket_delivery_recipient\":\
            \ \"jonas.larlsson@klarna.com\",\"passenger_id\": [1]}],\"passengers\"\
            : [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"last_name\"\
            : \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"Insurance Company\
            \ X\",\"insurance_type\": \"travel\",\"insurance_price\": 0}],\"affiliate_name\"\
            : \"TradeMaxi AB\"}],\"customer_account_info\": [{\"unique_account_identifier\"\
            : \"12345\",\"account_registration_date\": \"2016-01-24T15:00:00Z\",\"\
            account_last_modified\": \"2017-01-24T15:00:00Z\"}],\"payment_history_full\"\
            : [{\"payment_option\": \"card\",\"number_paid_purchases\": 2,\"total_amount_paid_purchases\"\
            : 1234,\"date_of_last_paid_purchase\": \"2018-01-24T15:00:00Z\",\"date_of_first_paid_purchase\"\
            : \"2018-01-24T15:00:00Z\"}]}"
          type: string
          x-konfig-original-example: "{\"hotel_reservation_details\": [{\"pnr\": \"\
            VH67899\",\"hotel_intinerary\": [{\"hotel_name\": \"Hotel ltd.\",\"address\"\
            : {\"street_address\": \"Storgatan 3\",\"postal_code\": \"113 35\",\"\
            city\": \"Stockholm\",\"country\": \"Sweden\"},\"start_time\": \"2019-01-31T15:00:00Z\"\
            ,\"end_time\": \"2019-01-31T15:30:00Z\",\"number_of_rooms\": 2,\"ticket_delivery_method\"\
            : \"email\",\"ticket_delivery_recipient\": \"jonas.larlsson@klarna.com\"\
            ,\"hotel_price\": 23050,\"class\": \"Business\",\"passenger_id\": [1]}],\"\
            passengers\": [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"\
            last_name\": \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"\
            Insurance Company X\",\"insurance_type\": \"travel\",\"insurance_price\"\
            : 0}],\"affiliate_name\": \"TradeMaxi AB\"}],\"air_reservation_details\"\
            : [{\"pnr\": \"VH67899\",\"intinerary\": [{\"departure\": \"ARN\",\"departure_city\"\
            : \"Stockholm\",\"arrival\": \"NCE\",\"arrival_city\": \"Nice\",\"carrier\"\
            : \"SK\",\"segment_price\": 34000,\"departure_date\": \"2019-01-30T15:00:00Z\"\
            ,\"ticket_delivery_method\": \"email\",\"ticket_delivery_recipient\":\
            \ \"jonas.larlsson@klarna.com\",\"passenger_id\": [1]}],\"passengers\"\
            : [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"last_name\"\
            : \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"Insurance Company\
            \ X\",\"insurance_type\": \"travel\",\"insurance_price\": 0}],\"affiliate_name\"\
            : \"TradeMaxi AB\"}],\"customer_account_info\": [{\"unique_account_identifier\"\
            : \"12345\",\"account_registration_date\": \"2016-01-24T15:00:00Z\",\"\
            account_last_modified\": \"2017-01-24T15:00:00Z\"}],\"payment_history_full\"\
            : [{\"payment_option\": \"card\",\"number_paid_purchases\": 2,\"total_amount_paid_purchases\"\
            : 1234,\"date_of_last_paid_purchase\": \"2018-01-24T15:00:00Z\",\"date_of_first_paid_purchase\"\
            : \"2018-01-24T15:00:00Z\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-attachment-properties-body
        content_type:
          description: The content type of the body. It is usually represented as
            "application/vnd.klarna.internal.emd-v2+json"
          example: application/vnd.klarna.internal.emd-v2+json
          type: string
          x-konfig-original-example: application/vnd.klarna.internal.emd-v2+json
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-attachment-properties-content_type
      required:
      - body
      - content_type
      type: object
    checkbox:
      example:
        checked: true
        text: "Please add me to the newsletter list, read more here \\[link\\](http://www.google.com)"
        required: true
      properties:
        text:
          description: Text that will be displayed to the consumer aside the checkbox.
            Links and formatting can be added using Markdown. (max 1000 characters)
          example: "Please add me to the newsletter list, read more here \\[link\\\
            ](http://www.google.com)"
          type: string
          x-konfig-original-example: "Please add me to the newsletter list, read more\
            \ here \\[link\\](http://www.google.com)"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-checkbox-properties-text
        checked:
          description: Default state of the additional checkbox. It will use this
            value when loaded for the first time.
          type: boolean
        required:
          description: Whether it is required for the consumer to check the additional
            checkbox box or not in order to complete the purchase.
          type: boolean
      required:
      - checked
      - required
      - text
      type: object
    checkbox-v2:
      example:
        checked: true
        text: "Please add me to the newsletter list, read more here \\[link\\](http://www.google.com)"
        id: newsletter_opt_in
        required: true
      properties:
        text:
          description: Text that will be displayed to the consumer aside the checkbox.
            Links and formatting can be added using Markdown. (max 1000 characters)
          example: "Please add me to the newsletter list, read more here \\[link\\\
            ](http://www.google.com)"
          type: string
          x-konfig-original-example: "Please add me to the newsletter list, read more\
            \ here \\[link\\](http://www.google.com)"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-checkbox-v2-properties-text
        checked:
          description: Default state of the additional checkbox. It will use this
            value when loaded for the first time.
          type: boolean
        required:
          description: Whether it is required for the consumer to check the additional
            checkbox box or not in order to complete the purchase.
          type: boolean
        id:
          description: Identifier used when presenting data back to merchant
          example: newsletter_opt_in
          type: string
          x-konfig-original-example: newsletter_opt_in
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-checkbox-v2-properties-id
      required:
      - checked
      - id
      - required
      - text
      type: object
    customer:
      example:
        gender: male
        date_of_birth: 1995-10-20
        organization_registration_id: 556737-0431
        vat_id: vat_id
        type: person
      properties:
        type:
          description: "The default supported value is 'person'. If B2B is enabled\
            \ for the merchant, the value may be \"organization\"."
          example: person
          type: string
          x-konfig-original-example: person
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-type
        gender:
          description: Customer’s gender - ‘male’ or ‘female’.
          example: male
          type: string
          x-konfig-original-example: male
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-gender
        date_of_birth:
          description: Customer’s date of birth. The format is ‘yyyy-mm-dd’. ISO 8601
            date.
          example: 1995-10-20
          type: string
          x-konfig-original-example: 1995-10-20
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-date_of_birth
        organization_registration_id:
          description: |-
            "The organization's official registration id (organization number).

            Note: Applicable only for B2B orders."
          example: 556737-0431
          type: string
          x-konfig-original-example: 556737-0431
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-organization_registration_id
        vat_id:
          description: Organization VAT ID. Only applies for b2b orders.
          type: string
      type: object
    dimensions:
      example:
        width: 100
        length: 100
        height: 100
      properties:
        height:
          description: The product's height as used in the merchant's webshop. Non-negative.
            Measured in millimeters.
          example: 100
          format: int64
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-dimensions-properties-height
        width:
          description: The product's width as used in the merchant's webshop. Non-negative.
            Measured in millimeters.
          example: 100
          format: int64
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-dimensions-properties-width
        length:
          description: The product's length as used in the merchant's webshop. Non-negative.
            Measured in millimeters.
          example: 100
          format: int64
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-dimensions-properties-length
      type: object
    discount_line:
      example:
        reference: 645f54bb-dbb7-6e1f-83bd-bc81a2c3a258
        quantity: 5
        total_amount: -2500
        merchant_data: "{\"card_number\":\"5551234567890\"}"
        name: Super deal
        total_tax_amount: -123
        unit_price: -10000
        tax_rate: 1000
      properties:
        name:
          description: Descriptive name of discount
          example: Super deal
          maxLength: 255
          minLength: 1
          type: string
          x-konfig-original-example: Super deal
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-name
        quantity:
          description: Non-negative number. Quantity of the discount line item.
          example: 5
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-quantity
        unit_price:
          description: |-
            Minor units. Includes tax, excludes discount. (Must be non-positive).

            Example: -100 Euros should be -10000.
          example: -10000
          format: int64
          maximum: 0
          type: integer
          x-konfig-original-example: -10000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-unit_price
        tax_rate:
          description: |-
            Non-negative value. The percentage value is represented with two implicit decimals. (max 10000)

            Example: 25% should be 2500.
          example: 1000
          format: int64
          maximum: 10000
          type: integer
          x-konfig-original-example: 1000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-tax_rate
        total_amount:
          description: "Minor units. Includes tax and discount. \n\nExample: -25 euros\
            \ should be -2500\nValue = (quantity x unit_price).\n(Must be non-positive)"
          example: -2500
          format: int64
          maximum: 0
          type: integer
          x-konfig-original-example: -2500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-total_amount
        total_tax_amount:
          description: Must be within ±1 of total_amount - total_amount \* 10000 /
            (10000 + tax_rate). Should be non-positive
          example: -123
          format: int64
          type: integer
          x-konfig-original-example: -123
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-total_tax_amount
        reference:
          description: The CRM reference to the gift-card that was entered by the
            user
          example: 645f54bb-dbb7-6e1f-83bd-bc81a2c3a258
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: 645f54bb-dbb7-6e1f-83bd-bc81a2c3a258
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-reference
        merchant_data:
          description: The gift-card number that was entered by the user
          example: "{\"card_number\":\"5551234567890\"}"
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: "{\"card_number\":\"5551234567890\"}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-discount_line-properties-merchant_data
      required:
      - name
      - quantity
      - tax_rate
      - total_amount
      - total_tax_amount
      - unit_price
      type: object
    gui:
      example:
        options:
        - options
        - options
      properties:
        options:
          description: "An array of options to define the checkout behaviour. Supported\
            \ options: minimal_confirmation.\n\nThe gui object is an array of options\
            \ to modify checkout client ui behaviours. \n\nExamples: [\"minimal_confirmation\"\
            ]"
          items:
            type: string
          type: array
      type: object
    merchant_requested:
      example:
        additional_checkboxes:
        - checked: true
          id: id
        - checked: true
          id: id
        additional_checkbox: true
      properties:
        additional_checkbox:
          description: "Informs whether the additional_checkbox is checked or not,\
            \ when applicable."
          readOnly: true
          type: boolean
        additional_checkboxes:
          description: "Informs whether the additional_checkboxes is checked or not,\
            \ when applicable."
          items:
            $ref: '#/components/schemas/merchant_requested_checkbox'
          readOnly: true
          type: array
      type: object
    merchant_requested_checkbox:
      example:
        checked: true
        id: id
      properties:
        id:
          type: string
        checked:
          type: boolean
      type: object
    merchant_urls:
      example:
        notification: https://www.example.com/api/pending
        terms: https://www.example.com/terms.html
        address_update: https://www.example.com/api/address
        shipping_option_update: https://www.example.com/api/shipment
        country_change: https://www.example.com/api/country
        confirmation: https://www.example.com/confirmation.html
        cancellation_terms: https://www.example.com/terms/cancellation.html
        checkout: https://www.example.com/checkout.html
        push: https://www.example.com/api/push
        validation: https://www.example.com/api/validation
      properties:
        terms:
          description: |-
            URL for the terms and conditions page of the merchant. The URL will be displayed inside the Klarna Checkout iFrame.(max 2000 characters)
            Example: "https://merchant.com/terms"
          example: https://www.example.com/terms.html
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/terms.html
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-terms
        checkout:
          description: |-
            URL for the checkout page of the merchant. (max 2000 characters)
            Example: "https://merchant.com/checkout"
          example: https://www.example.com/checkout.html
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/checkout.html
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-checkout
        confirmation:
          description: |-
            URL of the merchant confirmation page. The consumer will be redirected back to the confirmation page if the authorization is successful after the customer clicks on the ‘Place Order’ button inside checkout. The special characters of the confirmation URL should be encoded, e.g. the "space" character should be written as "%20". Then, on top of that, the whole confirmation URL should be encoded. E.g. the "space" character should become "%2520". (max 2000 characters)
            Example: "https://merchant.com/confirmation"
          example: https://www.example.com/confirmation.html
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/confirmation.html
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-confirmation
        push:
          description: |-
            URL that will be used for push notification when an order is completed. Should be different than checkout and confirmation URLs. (max 2000 characters)
            Example: "https://merchant.com/push"
          example: https://www.example.com/api/push
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/push
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-push
        validation:
          description: |-
            URL that will be requested for final merchant validation. (must be https, max 2000 characters)
            Example: "https://merchant.com/validation"
          example: https://www.example.com/api/validation
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/validation
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-validation
        notification:
          description: |-
            URL for notifications on pending orders. (max 2000 characters)
            Example: "https://merchant.com/notification/{checkout.order.id}"
          example: https://www.example.com/api/pending
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/pending
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-notification
        cancellation_terms:
          description: |-
            URL for the cancellation terms page of the merchant. The URL will be displayed in the email that is sent to the customer after the order is captured.(max 2000 characters)
            Example: "https://merchant.com/terms/cancelation"
          example: https://www.example.com/terms/cancellation.html
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/terms/cancellation.html
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-cancellation_terms
        shipping_option_update:
          description: |-
            URL for shipping option update. (must be https, max 2000 characters)
            Example: "https://merchant.com/shippingoptionupdate"
          example: https://www.example.com/api/shipment
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/shipment
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-shipping_option_update
        address_update:
          description: |-
            URL for shipping, tax and purchase currency updates. Will be called on address changes. (must be https, max 2000 characters)
            Example: "https://merchant.com/addressupdate"
          example: https://www.example.com/api/address
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/address
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-address_update
        country_change:
          description: |-
            URL for shipping, tax and purchase currency updates. Will be called on billing or shipping country changes. (must be https, max 2000 characters)
            Example: "https://merchant.com/countrychange"
          example: https://www.example.com/api/country
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/api/country
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-country_change
      required:
      - checkout
      - confirmation
      - push
      - terms
      type: object
    options:
      example:
        acquiring_channel: acquiring_channel
        additional_merchant_terms: additional_merchant_terms
        require_client_validation: true
        phone_mandatory: true
        color_header: '#FF9900'
        shipping_details: Delivered within 1-3 working days
        additional_checkboxes:
        - checked: true
          text: "Please add me to the newsletter list, read more here \\[link\\](http://www.google.com)"
          id: newsletter_opt_in
          required: true
        - checked: true
          text: "Please add me to the newsletter list, read more here \\[link\\](http://www.google.com)"
          id: newsletter_opt_in
          required: true
        color_link: '#FF9900'
        color_button: '#FF9900'
        allow_separate_shipping_address: true
        color_checkbox_checkmark: '#FF9900'
        date_of_birth_mandatory: true
        require_validate_callback_success: true
        color_button_text: '#FF9900'
        vat_removed: true
        show_vat_registration_number_field: true
        national_identification_number_mandatory: true
        radius_border: "5"
        allowed_customer_types:
        - allowed_customer_types
        - allowed_customer_types
        enable_discount_module: true
        title_mandatory: true
        show_subtotal_detail: true
        color_checkbox: '#FF9900'
        additional_checkbox:
          checked: true
          text: "Please add me to the newsletter list, read more here \\[link\\](http://www.google.com)"
          required: true
        auto_capture: true
        verify_national_identification_number: true
      properties:
        require_validate_callback_success:
          description: "If true, validate callback must get a positive response to\
            \ not stop purchase. Default: false."
          type: boolean
        acquiring_channel:
          description: |-
            Acquiring channel for the order. The possible values are:
            <ul><li><em>ECOMMERCE for "E-commerce"</em></li><li><em>IN_STORE for "Purchase in boutique"</em></li><li><em>Default : ECOMMERCE</em></li></ul>
          pattern: ECOMMERCE|MOTO|IN_STORE|TELESALES
          type: string
        vat_removed:
          description: "If true, VAT is not displayed in Checkout's Order Summary\
            \ page."
          type: boolean
        allow_separate_shipping_address:
          description: "If true, the consumer can enter different billing and shipping\
            \ addresses. Default: false, except for purchase_country DE where default\
            \ is: true"
          type: boolean
        color_button:
          description: "Color for the buttons within the iFrame. Value should be a\
            \ CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_button
        color_button_text:
          description: "Color for the text inside the buttons within the iFrame. Value\
            \ should be a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_button_text
        color_checkbox:
          description: "Color for the checkboxes within the iFrame. Value should be\
            \ a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_checkbox
        color_checkbox_checkmark:
          description: "Color for the checkboxes checkmark within the iFrame. Value\
            \ should be a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_checkbox_checkmark
        color_header:
          description: "Color for the headers within the iFrame. Value should be a\
            \ CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_header
        color_link:
          description: "Color for the hyperlinks within the iFrame. Value should be\
            \ a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_link
        date_of_birth_mandatory:
          description: "If true, the consumer cannot skip date of birth. Default:\
            \ false"
          type: boolean
        shipping_details:
          description: A message that will be presented on the confirmation page under
            the headline "Delivery" (max 255 characters).
          example: Delivered within 1-3 working days
          type: string
          x-konfig-original-example: Delivered within 1-3 working days
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-shipping_details
        title_mandatory:
          description: "If specified to false, title becomes optional. Only available\
            \ for orders for country GB."
          type: boolean
        additional_checkbox:
          $ref: '#/components/schemas/checkbox'
        national_identification_number_mandatory:
          description: "If true, the user cannot skip national identification number\
            \ in SE, NO, FI and DK. Default: false. In order to read the national\
            \ identification number in the validation callback, please contact Klarna’\
            s merchant support."
          type: boolean
        additional_merchant_terms:
          description: |-
            Additional merchant defined field. e.g. Extra terms and conditions to show.

            Example: "ADDITIONAL MERCHANT TERMS! \[terms link\](https://merchant.com/extra_terms)"
          type: string
        phone_mandatory:
          description: "If false, the consumer can skip the phone. Only available\
            \ for orders in DACH countries."
          type: boolean
        radius_border:
          description: Radius for the border of elements within the iFrame.
          example: "5"
          type: string
          x-konfig-original-example: "5"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-radius_border
        allowed_customer_types:
          description: |-
            A list of allowed customer types. Supported types: <b>person</b> & <b>organization</b>.
            Example: ["person","organization"]
          items:
            type: string
          maxItems: 2
          minItems: 1
          type: array
        show_subtotal_detail:
          description: "If true, the Order Detail subtotals view is expanded when\
            \ the Klarna Checkout iFrame is loaded. Default: false"
          type: boolean
        additional_checkboxes:
          items:
            $ref: '#/components/schemas/checkbox-v2'
          type: array
        verify_national_identification_number:
          description: "Enable verification of National Identification Numbers only\
            \ in Sweden, Finland and Norway. This option also make the national identification\
            \ number mandatory. (Not applicable for countries outside of Sweden, Finland\
            \ and Norway)"
          type: boolean
        auto_capture:
          description: Allow merchant to trigger auto capturing.
          type: boolean
        require_client_validation:
          description: "If true, a client side validation is needed to complete the\
            \ purchase"
          type: boolean
        enable_discount_module:
          description: Enables the inline discount module
          type: boolean
        show_vat_registration_number_field:
          description: "If true, a optional VAT registration number field will be\
            \ shown in the address form. Only applies for b2b orders."
          type: boolean
      type: object
    order:
      example:
        billing_countries:
        - billing_countries
        - billing_countries
        merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
          \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
        billing_address:
          street_address: Lombard St 10
          country: US
          care_of: C/O
          city: Beverly Hills
          title: Mr
          given_name: John
          street_name: Lombard St
          house_extension: B
          phone: "333444555"
          street_address2: Apt 214
          street_number: "10"
          postal_code: "90210"
          region: CA
          family_name: Doe
          email: john@doe.com
        locale: en-US
        last_modified_at: 2000-01-23T04:56:07.000+00:00
        discount_lines:
        - reference: 645f54bb-dbb7-6e1f-83bd-bc81a2c3a258
          quantity: 5
          total_amount: -2500
          merchant_data: "{\"card_number\":\"5551234567890\"}"
          name: Super deal
          total_tax_amount: -123
          unit_price: -10000
          tax_rate: 1000
        - reference: 645f54bb-dbb7-6e1f-83bd-bc81a2c3a258
          quantity: 5
          total_amount: -2500
          merchant_data: "{\"card_number\":\"5551234567890\"}"
          name: Super deal
          total_tax_amount: -123
          unit_price: -10000
          tax_rate: 1000
        order_tax_amount: 4545
        recurring_token: recurring_token
        html_snippet: <div id='klarna-checkout-container'><script>alert('Initializing
          Klarna Checkout');</script></div>
        merchant_reference2: 45aa52f387871e3a210645d4
        attachment:
          content_type: application/vnd.klarna.internal.emd-v2+json
          body: "{\"hotel_reservation_details\": [{\"pnr\": \"VH67899\",\"hotel_intinerary\"\
            : [{\"hotel_name\": \"Hotel ltd.\",\"address\": {\"street_address\": \"\
            Storgatan 3\",\"postal_code\": \"113 35\",\"city\": \"Stockholm\",\"country\"\
            : \"Sweden\"},\"start_time\": \"2019-01-31T15:00:00Z\",\"end_time\": \"\
            2019-01-31T15:30:00Z\",\"number_of_rooms\": 2,\"ticket_delivery_method\"\
            : \"email\",\"ticket_delivery_recipient\": \"jonas.larlsson@klarna.com\"\
            ,\"hotel_price\": 23050,\"class\": \"Business\",\"passenger_id\": [1]}],\"\
            passengers\": [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"\
            last_name\": \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"\
            Insurance Company X\",\"insurance_type\": \"travel\",\"insurance_price\"\
            : 0}],\"affiliate_name\": \"TradeMaxi AB\"}],\"air_reservation_details\"\
            : [{\"pnr\": \"VH67899\",\"intinerary\": [{\"departure\": \"ARN\",\"departure_city\"\
            : \"Stockholm\",\"arrival\": \"NCE\",\"arrival_city\": \"Nice\",\"carrier\"\
            : \"SK\",\"segment_price\": 34000,\"departure_date\": \"2019-01-30T15:00:00Z\"\
            ,\"ticket_delivery_method\": \"email\",\"ticket_delivery_recipient\":\
            \ \"jonas.larlsson@klarna.com\",\"passenger_id\": [1]}],\"passengers\"\
            : [{\"id\": 1,\"title\": \"mr\",\"first_name\": \"Adam\",\"last_name\"\
            : \"Adamson\"}],\"insurance\": [{\"insurance_company\": \"Insurance Company\
            \ X\",\"insurance_type\": \"travel\",\"insurance_price\": 0}],\"affiliate_name\"\
            : \"TradeMaxi AB\"}],\"customer_account_info\": [{\"unique_account_identifier\"\
            : \"12345\",\"account_registration_date\": \"2016-01-24T15:00:00Z\",\"\
            account_last_modified\": \"2017-01-24T15:00:00Z\"}],\"payment_history_full\"\
            : [{\"payment_option\": \"card\",\"number_paid_purchases\": 2,\"total_amount_paid_purchases\"\
            : 1234,\"date_of_last_paid_purchase\": \"2018-01-24T15:00:00Z\",\"date_of_first_paid_purchase\"\
            : \"2018-01-24T15:00:00Z\"}]}"
        external_payment_methods:
        - image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          fee: 6
          name: PayhereUs
          description: an American company operating a worldwide online payments system
          countries:
          - countries
          - countries
          label: continue
          redirect_url: https://www.example.com/us/start
        - image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          fee: 6
          name: PayhereUs
          description: an American company operating a worldwide online payments system
          countries:
          - countries
          - countries
          label: continue
          redirect_url: https://www.example.com/us/start
        order_amount: 50000
        merchant_reference1: 45aa52f387871e3a210645d4
        options:
          acquiring_channel: acquiring_channel
          additional_merchant_terms: additional_merchant_terms
          require_client_validation: true
          phone_mandatory: true
          color_header: '#FF9900'
          shipping_details: Delivered within 1-3 working days
          additional_checkboxes:
          - checked: true
            text: "Please add me to the newsletter list, read more here \\[link\\\
              ](http://www.google.com)"
            id: newsletter_opt_in
            required: true
          - checked: true
            text: "Please add me to the newsletter list, read more here \\[link\\\
              ](http://www.google.com)"
            id: newsletter_opt_in
            required: true
          color_link: '#FF9900'
          color_button: '#FF9900'
          allow_separate_shipping_address: true
          color_checkbox_checkmark: '#FF9900'
          date_of_birth_mandatory: true
          require_validate_callback_success: true
          color_button_text: '#FF9900'
          vat_removed: true
          show_vat_registration_number_field: true
          national_identification_number_mandatory: true
          radius_border: "5"
          allowed_customer_types:
          - allowed_customer_types
          - allowed_customer_types
          enable_discount_module: true
          title_mandatory: true
          show_subtotal_detail: true
          color_checkbox: '#FF9900'
          additional_checkbox:
            checked: true
            text: "Please add me to the newsletter list, read more here \\[link\\\
              ](http://www.google.com)"
            required: true
          auto_capture: true
          verify_national_identification_number: true
        shipping_address:
          street_address: Lombard St 10
          country: US
          care_of: C/O
          city: Beverly Hills
          title: Mr
          given_name: John
          street_name: Lombard St
          house_extension: B
          phone: "333444555"
          street_address2: Apt 214
          street_number: "10"
          postal_code: "90210"
          region: CA
          family_name: Doe
          email: john@doe.com
        recurring_description: recurring_description
        selected_shipping_option:
          promo: Christmas Promotion
          tax_amount: 5
          selected_addons:
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          price: 1
          preselected: true
          shipping_method: PickUpStore
          name: EXPRESS 1-2 Days
          description: Delivery by 4:30 pm
          id: express_priority
          delivery_details:
            carrier: carrier
            product:
              identifier: identifier
              name: name
            pickup_location:
              address:
                street_address: Lombard St 10
                country: US
                care_of: C/O
                city: Beverly Hills
                title: Mr
                given_name: John
                street_name: Lombard St
                house_extension: B
                phone: "333444555"
                street_address2: Apt 214
                street_number: "10"
                postal_code: "90210"
                region: CA
                family_name: Doe
                email: john@doe.com
              name: name
              id: id
            timeslot:
              start: start
              end: end
              id: id
          tms_reference: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
          tax_rate: 5
        recurring: true
        purchase_country: US
        purchase_currency: USD
        shipping_options:
        - promo: Christmas Promotion
          tax_amount: 5
          selected_addons:
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          price: 1
          preselected: true
          shipping_method: PickUpStore
          name: EXPRESS 1-2 Days
          description: Delivery by 4:30 pm
          id: express_priority
          delivery_details:
            carrier: carrier
            product:
              identifier: identifier
              name: name
            pickup_location:
              address:
                street_address: Lombard St 10
                country: US
                care_of: C/O
                city: Beverly Hills
                title: Mr
                given_name: John
                street_name: Lombard St
                house_extension: B
                phone: "333444555"
                street_address2: Apt 214
                street_number: "10"
                postal_code: "90210"
                region: CA
                family_name: Doe
                email: john@doe.com
              name: name
              id: id
            timeslot:
              start: start
              end: end
              id: id
          tms_reference: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
          tax_rate: 5
        - promo: Christmas Promotion
          tax_amount: 5
          selected_addons:
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          - user_input: user_input
            price: 2
            external_id: external_id
            type: type
          price: 1
          preselected: true
          shipping_method: PickUpStore
          name: EXPRESS 1-2 Days
          description: Delivery by 4:30 pm
          id: express_priority
          delivery_details:
            carrier: carrier
            product:
              identifier: identifier
              name: name
            pickup_location:
              address:
                street_address: Lombard St 10
                country: US
                care_of: C/O
                city: Beverly Hills
                title: Mr
                given_name: John
                street_name: Lombard St
                house_extension: B
                phone: "333444555"
                street_address2: Apt 214
                street_number: "10"
                postal_code: "90210"
                region: CA
                family_name: Doe
                email: john@doe.com
              name: name
              id: id
            timeslot:
              start: start
              end: end
              id: id
          tms_reference: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
          tax_rate: 5
        tags:
        - tags
        - tags
        completed_at: 2000-01-23T04:56:07.000+00:00
        merchant_requested:
          additional_checkboxes:
          - checked: true
            id: id
          - checked: true
            id: id
          additional_checkbox: true
        merchant_urls:
          notification: https://www.example.com/api/pending
          terms: https://www.example.com/terms.html
          address_update: https://www.example.com/api/address
          shipping_option_update: https://www.example.com/api/shipment
          country_change: https://www.example.com/api/country
          confirmation: https://www.example.com/confirmation.html
          cancellation_terms: https://www.example.com/terms/cancellation.html
          checkout: https://www.example.com/checkout.html
          push: https://www.example.com/api/push
          validation: https://www.example.com/api/validation
        name: Women's Fashion
        order_lines:
        - quantity_unit: pcs
          quantity: 5
          product_url: https://www.example.com/products/f2a8d7e34
          image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          total_discount_amount: 0
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 10000
          tax_rate: 1000
          reference: 19-402-USA
          product_identifiers:
            global_trade_item_number: "735858293167"
            color: Blue
            size: Medium
            manufacturer_part_number: BOXNUC5CPYH
            category_path: Electronics Store > Computers & Tablets > Desktops
            brand: Intel
          total_amount: 50000
          name: Red T-Shirt
          total_tax_amount: 4545
          shipping_attributes:
            weight: 1000
            tags:
            - tags
            - tags
            dimensions:
              width: 100
              length: 100
              height: 100
        - quantity_unit: pcs
          quantity: 5
          product_url: https://www.example.com/products/f2a8d7e34
          image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          total_discount_amount: 0
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 10000
          tax_rate: 1000
          reference: 19-402-USA
          product_identifiers:
            global_trade_item_number: "735858293167"
            color: Blue
            size: Medium
            manufacturer_part_number: BOXNUC5CPYH
            category_path: Electronics Store > Computers & Tablets > Desktops
            brand: Intel
          total_amount: 50000
          name: Red T-Shirt
          total_tax_amount: 4545
          shipping_attributes:
            weight: 1000
            tags:
            - tags
            - tags
            dimensions:
              width: 100
              length: 100
              height: 100
        - quantity_unit: pcs
          quantity: 5
          product_url: https://www.example.com/products/f2a8d7e34
          image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          total_discount_amount: 0
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 10000
          tax_rate: 1000
          reference: 19-402-USA
          product_identifiers:
            global_trade_item_number: "735858293167"
            color: Blue
            size: Medium
            manufacturer_part_number: BOXNUC5CPYH
            category_path: Electronics Store > Computers & Tablets > Desktops
            brand: Intel
          total_amount: 50000
          name: Red T-Shirt
          total_tax_amount: 4545
          shipping_attributes:
            weight: 1000
            tags:
            - tags
            - tags
            dimensions:
              width: 100
              length: 100
              height: 100
        - quantity_unit: pcs
          quantity: 5
          product_url: https://www.example.com/products/f2a8d7e34
          image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          total_discount_amount: 0
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 10000
          tax_rate: 1000
          reference: 19-402-USA
          product_identifiers:
            global_trade_item_number: "735858293167"
            color: Blue
            size: Medium
            manufacturer_part_number: BOXNUC5CPYH
            category_path: Electronics Store > Computers & Tablets > Desktops
            brand: Intel
          total_amount: 50000
          name: Red T-Shirt
          total_tax_amount: 4545
          shipping_attributes:
            weight: 1000
            tags:
            - tags
            - tags
            dimensions:
              width: 100
              length: 100
              height: 100
        - quantity_unit: pcs
          quantity: 5
          product_url: https://www.example.com/products/f2a8d7e34
          image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          total_discount_amount: 0
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 10000
          tax_rate: 1000
          reference: 19-402-USA
          product_identifiers:
            global_trade_item_number: "735858293167"
            color: Blue
            size: Medium
            manufacturer_part_number: BOXNUC5CPYH
            category_path: Electronics Store > Computers & Tablets > Desktops
            brand: Intel
          total_amount: 50000
          name: Red T-Shirt
          total_tax_amount: 4545
          shipping_attributes:
            weight: 1000
            tags:
            - tags
            - tags
            dimensions:
              width: 100
              length: 100
              height: 100
        started_at: 2000-01-23T04:56:07.000+00:00
        gui:
          options:
          - options
          - options
        external_checkouts:
        - image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          fee: 6
          name: PayhereUs
          description: an American company operating a worldwide online payments system
          countries:
          - countries
          - countries
          label: continue
          redirect_url: https://www.example.com/us/start
        - image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
          fee: 6
          name: PayhereUs
          description: an American company operating a worldwide online payments system
          countries:
          - countries
          - countries
          label: continue
          redirect_url: https://www.example.com/us/start
        order_id: f3392f8b-6116-4073-ab96-e330819e2c07
        status: CHECKOUT_INCOMPLETE
        customer:
          gender: male
          date_of_birth: 1995-10-20
          organization_registration_id: 556737-0431
          vat_id: vat_id
          type: person
        shipping_countries:
        - shipping_countries
        - shipping_countries
      properties:
        tags:
          description: |-
            Extra information added to the order.

            Example: ["dangerous_goods", "bulky"]
          items:
            type: string
          type: array
        order_id:
          description: Unique order ID that will be used for the entire lifecycle
            of the order. (max 255 characters)
          example: f3392f8b-6116-4073-ab96-e330819e2c07
          readOnly: true
          type: string
          x-konfig-original-example: f3392f8b-6116-4073-ab96-e330819e2c07
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-order_id
        name:
          description: The merchant name (max 255 characters).
          example: Women's Fashion
          readOnly: true
          type: string
          x-konfig-original-example: Women's Fashion
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-name
        purchase_country:
          description: "The purchase country of the merchant's store. The format to\
            \ be used is ISO 3166 alpha-2. Eg: GB, SE, DE, US, etc. \n\nNote: purchase\
            \ country and currency need to match the defined merchant configuration.\
            \ For global configuration read this https://docs.klarna.com/klarna-checkout/popular-use-cases/selling-to-multiple-countries/"
          example: US
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-purchase_country
        purchase_currency:
          description: |-
            The purchase currency of the merchant's store. The format to be used is ISO 4217. Eg: USD, EUR, SEK, GBP, etc.

            Note: purchase country and currency need to match the defined merchant configuration. For global configuration read this https://docs.klarna.com/klarna-checkout/popular-use-cases/selling-to-multiple-countries/
          example: USD
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-purchase_currency
        locale:
          description: Used to define the language and region of the customer. RFC
            1766 customer's locale.
          example: en-US
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-locale
        status:
          description: The current status of the order. The status will be ‘incomplete’
            until the customer has been successfully authorized.
          example: CHECKOUT_INCOMPLETE
          type: string
          x-konfig-original-example: CHECKOUT_INCOMPLETE
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-status
        billing_address:
          $ref: '#/components/schemas/address'
        shipping_address:
          $ref: '#/components/schemas/address'
        order_amount:
          description: |-
            Total amount of the order including tax and any available discounts. The value should be in non-negative minor units.

            Example: 25 Euros should be 2500.
          example: 50000
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 50000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-order_amount
        order_tax_amount:
          description: |-
            Total tax amount of the order. The value should be in non-negative minor units.

            Example: 25 Euros should be 2500.
          example: 4545
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 4545
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-order_tax_amount
        order_lines:
          description: An array containing list of line items that are part of this
            order. Maximum of 1000 line items could be processed in a single order.
          items:
            $ref: '#/components/schemas/order_line'
          maxItems: 1000
          minItems: 0
          type: array
        customer:
          $ref: '#/components/schemas/customer'
        merchant_urls:
          $ref: '#/components/schemas/merchant_urls'
        html_snippet:
          description: The HTML snippet that is used to render the checkout in an
            iframe.
          example: <div id='klarna-checkout-container'><script>alert('Initializing
            Klarna Checkout');</script></div>
          readOnly: true
          type: string
          x-konfig-original-example: <div id='klarna-checkout-container'><script>alert('Initializing
            Klarna Checkout');</script></div>
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-html_snippet
        merchant_reference1:
          description: |-
            Used for storing merchant's internal order number or other reference. If set, will be shown on the confirmation page as "order number" . The value is also available in the settlement files. (max 255 characters).
            Example: "45aa52f387871e3a210645d4"
          example: 45aa52f387871e3a210645d4
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: 45aa52f387871e3a210645d4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-merchant_reference1
        merchant_reference2:
          description: |-
            Used for storing merchant's internal order number or other reference. The value is available in the settlement files. (max 255 characters).
            Example: "45aa52f387871e3a210645d4"
          example: 45aa52f387871e3a210645d4
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: 45aa52f387871e3a210645d4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-merchant_reference2
        started_at:
          description: |-
            ISO 8601 datetime. The date and time when the order has been created. The format will be as follows:
            "yyyy-mm-ddThh:mm:ssZ"
          format: date-time
          readOnly: true
          type: string
        completed_at:
          description: |-
            ISO 8601 datetime. The date and time when the order has been completed. The format will be as follows:
            "yyyy-mm-ddThh:mm:ssZ"
          format: date-time
          readOnly: true
          type: string
        last_modified_at:
          description: |-
            ISO 8601 datetime. The date and time when the order was last modified. The format will be as follows:
            "yyyy-mm-ddThh:mm:ssZ"
          format: date-time
          readOnly: true
          type: string
        options:
          $ref: '#/components/schemas/options'
        attachment:
          $ref: '#/components/schemas/attachment'
        external_payment_methods:
          description: List of external payment methods that will be displayed as
            part of payment methods in the checkout.
          items:
            $ref: '#/components/schemas/payment_provider'
          type: array
        external_checkouts:
          description: |-
            List of external checkouts that will be displayed as part of payment methods in the checkout.
            The image_url is required, and the image size has to be 276x48px
          items:
            $ref: '#/components/schemas/payment_provider'
          type: array
        shipping_countries:
          description: "List of allowed shipping countries for this order in ISO-3166\
            \ alpha-2 format.\n\nIf specified, the customer will be able to change\
            \ the shipping country in the checkout and you will be notified through\
            \ ‘address_update’ callback or the ‘shipping_address_change’ javascript\
            \ event. \n\nIf not specified then the default value will be the purchase\
            \ country.\n\nExample: look at billing_countries example."
          items:
            type: string
          type: array
        shipping_options:
          description: A list of shipping options available for this order.
          items:
            $ref: '#/components/schemas/shipping_option'
          type: array
        merchant_data:
          description: Pass through field to send any information about the order
            to be used later for reference while retrieving the order details (max
            6000 characters).
          example: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          maxLength: 6000
          minLength: 0
          type: string
          x-konfig-original-example: "{\"marketplace_seller_info\":[{\"product_category\"\
            :\"Women's Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-merchant_data
        gui:
          $ref: '#/components/schemas/gui'
        merchant_requested:
          $ref: '#/components/schemas/merchant_requested'
        selected_shipping_option:
          $ref: '#/components/schemas/shipping_option'
        recurring:
          description: |-
            Indicates whether this purchase will create a token that can be used by the merchant to create recurring purchases. This must be enabled for the merchant to use. Default: false

            Depending on specified country, recurring could be used for the following payment methods: Pay Later, Direct Debit, Card.
          type: boolean
        recurring_token:
          description: Token to be used when creating recurring orders.
          readOnly: true
          type: string
        recurring_description:
          description: Description to be added to the recurring order.
          maxLength: 255
          minLength: 0
          readOnly: true
          type: string
        billing_countries:
          description: |-
            List of allowed billing countries for this order.
            If specified, the customer will be able to change the billing country in the checkout and you will be notified through ‘country_change’ callback or the ‘billing_address_change’ javascript event.
            If not specified but shipping_countries is specified, will use same values as shipping_countries.
            If not specified and shipping_countries is not specified, then the default value will be the purchase country.

            Example: ["AD", "AE", "AG", "AI", "AL", "AM", "AQ", "AR", "AS", "AT", "AU", "AW", "AX", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BJ", "BL", "BM", "BN", "BO", "BQ", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CF", "CH", "CI", "CK", "CL", "CM", "CN", "CO", "CR", "CU", "CV", "CW", "CX", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ER", "ES", "ET", "FI", "FJ", "FK", "FM", "FO", "FR", "GA", "GB", "GD", "GE", "GF", "GG", "GH", "GI", "GL", "GM", "GN", "GP", "GR", "GS", "GT", "GU", "GY", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IM", "IN", "IS", "IT", "JE", "JM", "JO", "JP", "KE", "KG", "KI", "KM", "KN", "KR", "KW", "KY", "KZ", "LA", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MF", "MG", "MH", "MK", "MK", "ML", "MM", "MN", "MO", "MP", "MQ", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NC", "NE", "NF", "NG", "NI", "NL", "NO", "NP", "NR", "NU", "NZ", "OM", "PA", "PE", "PF", "PG", "PH", "PK", "PL", "PM", "PR", "PS", "PT", "PW", "PY", "QA", "RE", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SH", "SI", "SJ", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SX", "SZ", "TC", "TF", "TG", "TH", "TJ", "TK", "TL", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "UM", "US", "UY", "UZ", "VA", "VC", "VG", "VI", "VN", "VU", "WF", "WS", "XK", "YT", "ZA", "ZM", "ZW"]"
          items:
            type: string
          type: array
        discount_lines:
          description: List of discounts applied to this order via the KCO discount-service
          items:
            $ref: '#/components/schemas/discount_line'
          type: array
      required:
      - locale
      - order_amount
      - order_lines
      - order_tax_amount
      - purchase_country
      - purchase_currency
      type: object
      x-konfig-is-used-in-successful-response: true
    order_line:
      example:
        quantity_unit: pcs
        quantity: 5
        product_url: https://www.example.com/products/f2a8d7e34
        image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
        merchant_data: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
          \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
        total_discount_amount: 0
        subscription:
          interval_count: 1
          name: name
          interval: DAY
        type: physical
        unit_price: 10000
        tax_rate: 1000
        reference: 19-402-USA
        product_identifiers:
          global_trade_item_number: "735858293167"
          color: Blue
          size: Medium
          manufacturer_part_number: BOXNUC5CPYH
          category_path: Electronics Store > Computers & Tablets > Desktops
          brand: Intel
        total_amount: 50000
        name: Red T-Shirt
        total_tax_amount: 4545
        shipping_attributes:
          weight: 1000
          tags:
          - tags
          - tags
          dimensions:
            width: 100
            length: 100
            height: 100
      properties:
        type:
          description: "Type of the order line item. The possible values are:<ul><li><em>physical\
            \ (physical good)</em></li><li><em>discount</em></li><li><em>shipping_fee</em></li><li><em>sales_tax\
            \ (depends on the country/city, usually called VAT)</em></li><li><em>digital\
            \ (digital good)</em></li><li><em>gift_card</em></li><li><em>store_credit\
            \ (credit from the merchant)</em></li><li><em>surcharge (extra charge)</em></li></ul>"
          example: physical
          type: string
          x-konfig-original-example: physical
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-type
        reference:
          description: "Article number, SKU or similar. (max 255 characters)"
          example: 19-402-USA
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: 19-402-USA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-reference
        name:
          description: Descriptive name of the order line item (max 255 characters)
          example: Red T-Shirt
          maxLength: 255
          minLength: 1
          type: string
          x-konfig-original-example: Red T-Shirt
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-name
        quantity:
          description: Non-negative number. Quantity of the order line item.
          example: 5
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-quantity
        subscription:
          $ref: '#/components/schemas/subscription'
        quantity_unit:
          description: "Unit used to describe the quantity, e.g. kg, pcs... If defined\
            \ has to be 1-8 characters"
          example: pcs
          type: string
          x-konfig-original-example: pcs
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-quantity_unit
        unit_price:
          description: |-
            Minor units. Includes tax, excludes discount. (max value: 100000000).

            Example: 100 Euros should be 10000.
          example: 10000
          format: int64
          maximum: 100000000
          type: integer
          x-konfig-original-example: 10000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-unit_price
        tax_rate:
          description: |-
            Non-negative value. The percentage value is represented with two implicit decimals. (max 10000)

            Example: 25% should be 2500.
          example: 1000
          format: int64
          maximum: 10000
          type: integer
          x-konfig-original-example: 1000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-tax_rate
        total_amount:
          description: "Minor units. Includes tax and discount. \n\nExample: 25 euros\
            \ should be 2500\nValue = (quantity x unit_price) - total_discount_amount.\n\
            (max value: 100000000)"
          example: 50000
          format: int64
          maximum: 100000000
          type: integer
          x-konfig-original-example: 50000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_amount
        total_discount_amount:
          description: |-
            Non-negative minor units. Includes tax.

            Example: 25 euros should be 2500
          example: 0
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_discount_amount
        total_tax_amount:
          description: Must be within ±1 of total_amount - total_amount \* 10000 /
            (10000 + tax_rate). Negative when type is discount.
          example: 4545
          format: int64
          type: integer
          x-konfig-original-example: 4545
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_tax_amount
        merchant_data:
          description: Property used to store additional metadata per item that will
            be returned whenever an order is read from Klarna. Pass through field.
            (max 1024 characters).
          example: "{\"marketplace_seller_info\":[{\"product_category\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: "{\"marketplace_seller_info\":[{\"product_category\"\
            :\"Women's Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-merchant_data
        product_url:
          description: URL to the product page that can be later embedded in communications
            between Klarna and the customer. (max 1024 characters)
          example: https://www.example.com/products/f2a8d7e34
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example.com/products/f2a8d7e34
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-product_url
        image_url:
          description: |-
            URL to an image that can be later embedded in communications between Klarna and the customer. (max 1024 characters)

            Improves post-purchase customer experiences.
          example: https://www.exampleobjects.com/product-image-1200x1200.jpg
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: https://www.exampleobjects.com/product-image-1200x1200.jpg
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-image_url
        product_identifiers:
          $ref: '#/components/schemas/product_identifiers'
        shipping_attributes:
          $ref: '#/components/schemas/shipping_attributes'
      required:
      - name
      - quantity
      - tax_rate
      - total_amount
      - total_tax_amount
      - unit_price
      type: object
    payment_provider:
      example:
        image_url: https://www.exampleobjects.com/product-image-1200x1200.jpg
        fee: 6
        name: PayhereUs
        description: an American company operating a worldwide online payments system
        countries:
        - countries
        - countries
        label: continue
        redirect_url: https://www.example.com/us/start
      properties:
        description:
          description: Short description of the payment method. This is displayed
            below the selected payment method. (max 500 characters)
          example: an American company operating a worldwide online payments system
          maxLength: 500
          minLength: 0
          type: string
          x-konfig-original-example: an American company operating a worldwide online
            payments system
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_provider-properties-description
        name:
          description: The name of the payment provider. (max 255 characters)
          example: PayhereUs
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: PayhereUs
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_provider-properties-name
        fee:
          description: Minor units. Includes tax.
          format: int64
          type: integer
        countries:
          description: "If specified, limits the method to the listed countries (alpha\
            \ 2 codes)."
          items:
            type: string
          type: array
        label:
          description: Controls label of buy button<ul><li>continue</li><li>complete</li></ul>
          example: continue
          type: string
          x-konfig-original-example: continue
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_provider-properties-label
        redirect_url:
          description: "URL to redirect to. (must be https, min 7, max 2000 characters)"
          example: https://www.example.com/us/start
          maxLength: 2000
          minLength: 7
          type: string
          x-konfig-original-example: https://www.example.com/us/start
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_provider-properties-redirect_url
        image_url:
          description: "URL to an image to display. (must be https, max 2000 characters)"
          example: https://www.exampleobjects.com/product-image-1200x1200.jpg
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.exampleobjects.com/product-image-1200x1200.jpg
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_provider-properties-image_url
      required:
      - name
      - redirect_url
      type: object
    product_identifiers:
      example:
        global_trade_item_number: "735858293167"
        color: Blue
        size: Medium
        manufacturer_part_number: BOXNUC5CPYH
        category_path: Electronics Store > Computers & Tablets > Desktops
        brand: Intel
      properties:
        brand:
          description: "The product's brand name as generally recognized by consumers.\
            \ If no brand is available for a product, do not supply any value."
          example: Intel
          maxLength: 70
          minLength: 0
          type: string
          x-konfig-original-example: Intel
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-brand
        color:
          description: Color to be shown to the end customer (max 64 characters).
          example: Blue
          maxLength: 64
          minLength: 0
          type: string
          x-konfig-original-example: Blue
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-color
        category_path:
          description: |-
            The product's category path as used in the merchant's webshop. Include the full and most detailed category and separate the segments with ' > '. (max 750 characters)

            Example: "Electronics Store > Computers & Tablets > Desktops"
          example: Electronics Store > Computers & Tablets > Desktops
          maxLength: 750
          minLength: 0
          type: string
          x-konfig-original-example: Electronics Store > Computers & Tablets > Desktops
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-category_path
        global_trade_item_number:
          description: "The product's Global Trade Item Number (GTIN). Common types\
            \ of GTIN are EAN, ISBN or UPC. Exclude dashes and spaces, where possible"
          example: "735858293167"
          maxLength: 50
          minLength: 0
          type: string
          x-konfig-original-example: "735858293167"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-global_trade_item_number
        manufacturer_part_number:
          description: "The product's Manufacturer Part Number (MPN), which - together\
            \ with the brand - uniquely identifies a product. Only submit MPNs assigned\
            \ by a manufacturer and use the most specific MPN possible"
          example: BOXNUC5CPYH
          maxLength: 70
          minLength: 0
          type: string
          x-konfig-original-example: BOXNUC5CPYH
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-manufacturer_part_number
        size:
          description: Size to be shown to the end customer (max 64 characters).
          example: Medium
          maxLength: 64
          minLength: 0
          type: string
          x-konfig-original-example: Medium
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-size
      type: object
    selected_addon:
      example:
        user_input: user_input
        price: 2
        external_id: external_id
        type: type
      properties:
        type:
          type: string
        price:
          format: int64
          type: integer
        external_id:
          type: string
        user_input:
          type: string
      type: object
    shipping_attributes:
      example:
        weight: 1000
        tags:
        - tags
        - tags
        dimensions:
          width: 100
          length: 100
          height: 100
      properties:
        tags:
          description: "The product's extra features, example [\"dangerous_goods\"\
            , \"bulky\"]"
          items:
            type: string
          type: array
        weight:
          description: The product's weight as used in the merchant's webshop. Non-negative.
            Measured in grams.
          example: 1000
          format: int64
          type: integer
          x-konfig-original-example: 1000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_attributes-properties-weight
        dimensions:
          $ref: '#/components/schemas/dimensions'
      type: object
    shipping_option:
      example:
        promo: Christmas Promotion
        tax_amount: 5
        selected_addons:
        - user_input: user_input
          price: 2
          external_id: external_id
          type: type
        - user_input: user_input
          price: 2
          external_id: external_id
          type: type
        price: 1
        preselected: true
        shipping_method: PickUpStore
        name: EXPRESS 1-2 Days
        description: Delivery by 4:30 pm
        id: express_priority
        delivery_details:
          carrier: carrier
          product:
            identifier: identifier
            name: name
          pickup_location:
            address:
              street_address: Lombard St 10
              country: US
              care_of: C/O
              city: Beverly Hills
              title: Mr
              given_name: John
              street_name: Lombard St
              house_extension: B
              phone: "333444555"
              street_address2: Apt 214
              street_number: "10"
              postal_code: "90210"
              region: CA
              family_name: Doe
              email: john@doe.com
            name: name
            id: id
          timeslot:
            start: start
            end: end
            id: id
        tms_reference: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
        tax_rate: 5
      properties:
        description:
          description: Description.
          example: Delivery by 4:30 pm
          type: string
          x-konfig-original-example: Delivery by 4:30 pm
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-description
        id:
          description: id
          example: express_priority
          type: string
          x-konfig-original-example: express_priority
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-id
        name:
          description: Name.
          example: EXPRESS 1-2 Days
          maxLength: 255
          minLength: 1
          type: string
          x-konfig-original-example: EXPRESS 1-2 Days
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-name
        promo:
          description: Promotion name. To be used if this shipping option is promotional.
          example: Christmas Promotion
          type: string
          x-konfig-original-example: Christmas Promotion
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-promo
        price:
          description: Price including tax.
          format: int64
          type: integer
        preselected:
          description: "If true, this option will be preselected when checkout loads.\
            \ Default: false"
          type: boolean
        tax_amount:
          description: Tax amount.
          format: int64
          type: integer
        tax_rate:
          description: "Non-negative. In percent, two implicit decimals. I.e 2500\
            \ = 25%."
          format: int64
          type: integer
        shipping_method:
          description: Shipping method. Possible values:<ul><li>PickUpStore</li><li>Home</li><li>BoxReg</li><li>BoxUnreg</li><li>PickUpPoint</li><li>Own</li><li>Postal</li><li>DHLPackstation</li><li>Digital</li></ul>
            If DHLPackstation is selected the correct form will be displayed.
          example: PickUpStore
          type: string
          x-konfig-original-example: PickUpStore
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-shipping_method
        delivery_details:
          $ref: '#/components/schemas/DeliveryDetailsV1'
        tms_reference:
          description: TMS reference. Required to map completed orders to shipments
            reserved in TMS.
          example: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
          type: string
          x-konfig-original-example: a1b2c3d4-e4f6-g7h8-i9j0-k1l2m3n4o5p6
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-shipping_option-properties-tms_reference
        selected_addons:
          items:
            $ref: '#/components/schemas/selected_addon'
          type: array
      required:
      - id
      - name
      - price
      - tax_amount
      - tax_rate
      type: object
    subscription:
      example:
        interval_count: 1
        name: name
        interval: DAY
      properties:
        name:
          description: |-
            The name of the subscription product.

            Example: "Premium Account"
          type: string
        interval:
          description: |-
            The cadence unit for this.

[...]
